body {
  font-family: 'Exo 2', sans-serif;
}

.notjumbotron {
  text-align: center;
}

.notjumbotron h1 {
  font-size: 3em;
  margin: -0px 0 50px 0;
}

h1, h2, h3, .navbar, .btn, .carousel-caption {
  font-family: 'Oswald', sans-serif;
}

.navbar-nav {
  float: right;
}

.available {
  font-style: italic;
}

.carousel-inner > .item > img {
  height: auto;
  min-height: 500px;
  min-width: 889px;
  width: 100%;
  text-align: center;
}

.day img {
  border:1px solid #;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.day h2 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.day > h2 {
  margin-top: 0px;
}

.row {
  margin-bottom: 30px;
}

.day {
  background: #eee;
  padding: 20px;
  border:1px solid #;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.day hr {
   border: 0;
  height: 1px;
  background: #ddd;
}

.day img {
  /* img-responsive */
  max-width: 100%; 
  height: auto;
}


.navbar-nav > li > a {
  padding: 60px 0px 47px 50px;
}

.navbar-nav > li {
  font-size: 2em;
}

.navbar-inverse {
  border-bottom: 1px solid #333;
  width: 100%;
}

.navbar-wrapper {
  margin-top: 0;
}

.carousel-inner {
  border-bottom: 10px solid #333;
}

.carousel-caption {
  text-shadow: 2px 2px 0px rgba(0,0,0,1),
         0px 8px 13px rgba(0,0,0,1),
         0px 18px 23px rgba(0,0,0,1);
}

@media(max-width:767px){
  h2 {
    font-size: 2em;
  }
  
  .navbar-nav > li {
    font-size: 1em;
  }
  
  .navbar-nav > li > a {
    padding: 10px 0px 10px 50px;
  }
  
  .col-xs-12 {
    margin-bottom: 20px;
  }
}
@media(min-width:768px){
  h2 {
    font-size: 2em;
  }
}
@media(min-width:992px){
h2 {
    font-size: 3em;
  }
}
@media(min-width:1200px){
h2 {
    font-size: 3em;
  }
}

.qanda h2 {
  font-size: 1.5em;
}

#tagline {
  text-align: right;
}


/* text rotate */

.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}



.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}
