---
layout: default
title: Family Reunions on the river in Austin, Texas
description: Have your next family reunion in Austin by floating down the river! No hassle, transportation provided, fun for everyone.
---
    <a name="public-tours"></a>
    <div class="jumbotron invert" style="background: url('/images/tubing/family-river-tubing.jpg');background-size: cover;background-position: 50% 50%;min-height: 500px;;border-top: 1px solid #555">
      <div class="container">
        <div class="jumbotron-caption">
          <h2>Family Reunions on the River in Austin, Texas</h2>
          <p>No hassle, any size group, transportation provided, fun for ages 6+</p>
        </div>
      </div>
    </div>


    <div class="" style="background: #eee;box-shadow: inset 0 8px 9px -6px black;padding: 50px 0;">
      <div class="container">
        <!--<div class="row">
          <div class="col-md-8 col-md-offset-4">
            <ul>
              <li>Affordable. Bring your own drinks and snacks.</li>
              <li>Food options available. Add a trip to The Salt Lick BBQ.</li>
              <li>Pick up &amp; drop off anywhere in Austin</li>
              <li>No hassle. We pick you up, drop you off, provide all necessary equipment including tubes, coolers, and ice.</li>
              <li>5 star rated company on Yelp and TripAdvisor</li>
            </ul>
          </div>-->

          <h2 class="text-center">Let us help plan your next family reunion or gathering</h2>

          <div class="row">
            <div class="col-lg-2 col-md-6 text-center col-lg-offset-3">
              <div class="service-box">
                <h3>Any Budget</h3>
                <p>Bring your own drinks and snacks or add a family meal at the famous Salt Lick BBQ to your trip</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 text-center">
              <div class="service-box">
                <h3>Transportation Provided</h3>
                <p>Pick up &amp; drop off anywhere in Austin</p>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 text-center">
              <div class="service-box">
                <h3>No Hassle</h3>
                <p>We pick you up, drop you off, provide all necessary equipment including tubes, coolers, and ice</p>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
            {% include contact-buttons.html class="text-center" %}
          </div>
        </div>
      </div>
    </div>

    <div class="blue-section" style="margin-bottom: 50px;">
      <div class="container">
        <div class="col-lg-6 col-md-6 text-center col-md-offset-3">
          <h2>"The whole day was beyond seamless and the highlight of my weekend trip in Austin." - <a href="http://www.tripadvisor.com/ShowUserReviews-g30196-d6458882-r280601834-ATXcursions-Austin_Texas.html#CHECK_RATES_CONT">Juliette</a></h2>
        </div>

        </div>
      </div>
    </div>






    <div class="container">

      {% picture gallery /tubing/bachelorette-party-tubing-1.jpg   %}

      {% include contact-buttons.html %}


    </div>

    <!-- Google Code for Private parties, call us Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 970738303;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "1KZECJeU_1UQ_5TxzgM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js" async>
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970738303/?label=1KZECJeU_1UQ_5TxzgM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
