---
layout: default
title: River Tubing in Austin, Texas
description: River float trips Austin, Texas! 5 star rated on Yelp and TripAdvisor. BYOB. Public trips and private trips for bachelor, bachelorette, and birthday parties.
---
    <a name="tubing"></a>
    <div class="jumbotron invert" style="background: url('/images/river-float-smallest.jpg');background-size: cover;background-position: center;min-height: 300px;border-top: 1px solid #555">
      <div class="container">
        <div class="jumbotron-caption">
          <h2>River Tubing</h2>
          <p>Float down the river. BYOB. Make friends, be awesome :) <!-- May - September. --><!--Every Monday, Wednesday, and Friday.--></p>
        </div>
      </div>
    </div>

    <div class="" style="background: #eee;box-shadow: inset 0 8px 9px -6px black;padding: 50px 0;">
      <div class="container">
        <div class="row">
          <h2 class="text-center" style="font-size: 3em">The Most Convenient Way To Float The River!</h2>
        </div>
        <div class="row row-centered">

          <div class="col-sm-4 col-xs-12 col-centered">
            <div class="panel panel-default panel-pricing panel-one">
              <div class="panel-heading">
                <h2 class="panel-title">Public</h2>
              </div>
              <div class="panel-body">
                <h3 class="text-centered h2 price-highlight"><small>From:</small><br />$59<br /><small>per person</small></h3>

                <p class="text-centered"><a class="btn btn-lg btn-primary" href="https://atxcursions.rezdy.com/28617/river-tubing" role="button">Book now! &raquo;</a></p>

              </div>
              <div class="panel-footer">
                <ul class="no-padding">
                  <li>Meet awesome people!</li>
                  <li>Pick up &amp; drop off at Austin Visitor Center</li>
                </ul>

                <!--{% picture gallery /tubing/river-tubing-bus-group.jpg                    %}
                <div style="clear:both"></div>-->
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-xs-12 col-centered">
            <div class="panel panel-default panel-pricing panel-one">
              <div class="panel-heading">
                <h2 class="panel-title">Private</h2>
              </div>
              <div class="panel-body">
                <h3 class="text-centered h2 price-highlight"><small>From:</small><br />$1259<br /><small>per group</small></h3>

                <p class="text-centered"><a class="btn btn-lg btn-primary" href="/river-tubing-bachelor-bachelorette.html" role="button">Book now! &raquo;</a></p>

              </div>
              <div class="panel-footer">
                <ul class="no-padding">
                  <li>Custom pick up &amp; drop off location</li>
                  <li>Private vehicle</li>
                  <li>Good for bachelor, bachelorette, and birthday parties</li>
                </ul>

                <!--{% picture gallery /tubing/bachelorette-party-tubing-1.jpg   %}
                <div style="clear:both"></div>-->
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-xs-12 col-centered">
            <div class="panel panel-default panel-pricing panel-one">
              <div class="panel-heading">
                <h2 class="panel-title">Corporate</h2>
              </div>
              <div class="panel-body">
                <h3 class="text-centered h2 price-highlight"><small>From:</small><br />$1599<br /><small>per group</small></h3>

                <p class="text-centered"><a class="btn btn-lg btn-primary" href="/river-tubing-corporate-outings.html" role="button">Book now! &raquo;</a></p>

              </div>
              <div class="panel-footer">
                <ul class="no-padding">
                  <li>Business-class service</li>
                  <li>Custom pick up &amp; drop off location</li>
                  <li>Private vehicle</li>
                </ul>

                <!--{% picture gallery /tubing/river-tubing-shuttle-2.jpg                    %}
                <div style="clear:both"></div>-->
              </div>
            </div>
          </div>


        </div>

        <div class="row">
          <h2 class="text-center" style="font-size: 3em">Awesomeness on every trip</h2>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-6 text-center col-lg-offset-2">
            <div class="service-box">
              <h3>Transportation to and from Austin</h3>
              <p>Pick up &amp; drop off provided</p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 text-center">
            <div class="service-box">
              <h3>Tube rental, coolers, and ice included</h3>
              <p>We provide all necessary equipment. Just bring sunscreen, drinks, and your awesome self!</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 text-center">
            <div class="service-box">
              <h3>5 Star rated company</h3>
              <p>Tons of happy customers on TripAdvisor and Yelp.</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 text-center">
            <div class="service-box">
              <h3>Great for groups of any size</h3>
              <p>Loved by bachelor parties, bachelorette parties, corporate groups, travelers, and locals. Bring your friends or make friends on the river!</p>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-center">Questions? Check out our <a href="//support.atxcursions.com/hc">FAQ</a>.</p>
          {% include contact-buttons.html class="text-center" %}
        
        </div>
      </div>
    </div>


    <div class="blue-section" style="background: #428bca; color: white; padding: 50px 0">
      <div class="container">
        <div class="col-lg-6 col-md-6 text-center col-md-offset-3" style="min-height: 200px;">
          <h2 class="rotate-dissolve">"The whole day was beyond seamless and the highlight of my weekend trip in Austin." - Juliette L.</a> || "So much fun!!!!!!!!" - Amanda L. || "This was my second time using ATXcursions and will not be my last." - Neil G. || "Can't say enough positive things!" - Ara || "10 stars!" - Dawn H. || "The best way to experience Austin" - Robyn T.</h2>
        </div>
        <div class="col-md-4 text-center col-md-offset-4">

                    Check out our reviews! We strive to provide excellent customer service.
                    <ul class="icons" style="margin: 0 auto;width:223px;">
                      <li>
                        <a class="si-yelp" title="ATXcursions on Yelp" href="http://www.yelp.com/biz/atxcursions-austin"></a>
                      </li>
                      <li>
                        <a class="si-facebook" title="ATXcursions on Facebook" href="https://www.facebook.com/atxcursions"></a>
                      </li>
                      <li>
                        <a class="si-tripadvisor" title="ATXcursions on TripAdvisor" href="http://www.tripadvisor.com/Attraction_Review-g30196-d6458882-Reviews-ATXcursions-Austin_Texas.html"></a>
                      </li>
                    </ul>

        </div>
      </div>
    </div>

    <div  class="container">


      {% picture gallery /tubing/river-tubing-bus-group.jpg                    %}
      {% picture gallery /tubing/river-tubing-shuttle-2.jpg                    %}
      {% picture gallery tubing/group-1-2-3.jpg                    %}
      {% picture gallery /tubing/group-2-2.jpg                     %}
      {% picture gallery /tubing/bachelorette-party-tubing-1.jpg   %}
      {% picture gallery /tubing/bachelor-party-1.jpg              %}
      {% picture gallery /tubing/bachelorette-party-1.jpg          %}
      {% picture gallery /tubing/bachelorette-party-2.jpg          %}

      {% include contact-buttons.html class="text-center" %}

    </div>

    <!-- Google Code for Private parties, call us Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 970738303;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "1KZECJeU_1UQ_5TxzgM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js" async>
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970738303/?label=1KZECJeU_1UQ_5TxzgM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
