---
layout: default
title: River tubing for private groups
description: River tubing for bachelor/bachelorette parties, birthday parties, and company outings. 5-star rated on Yelp and TripAdvisor.
---

    <a name="private-events"></a>
    <div class="jumbotron invert" style="background: url('/images/tubing/river-tubing-guys-and-girls.jpg');background-size: cover;background-position: center;min-height: 600px;;border-top: 1px solid #555">
      <div class="container">
          <div class="jumbotron-caption">
            <h2>Private River Tubing Trips</h2>
            <p>Dedicated vehicles, custom pick up and drop off location, beautiful river, unforgettable times!</p>
          </div>
      </div>
    </div>

    <div class="" style="background: #eee;box-shadow: inset 0 8px 9px -6px black;padding: 50px 0;">
      <div class="alert alert-success" role="alert">
        <div class="container">
          <p style="font-size: 120%"><b>Heads up!</b> Private trips are not available on Saturdays or holidays. Please book your group on a <a href="https://atxcursions.rezdy.com/28617/river-tubing"><b>public trip</b></a>. It's just as much fun and you get to meet new people!</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <h2 class="text-centered">No-hassle Tubing</h2>
          <div class="col-xs-6 col-xs-offset-3 text-centered"><p>All necessary equipment provided. Just gather your friends, we'll take care of the rest!</p></div>
        </div>
        <div class="row">

          <div class="col-sm-3 col-xs-12 col-sm-offset-2">
            <div class="service-box">
              <h3>Transportation Provided</h3>
              <ul>
                <li>Private vehicle</li>
                <li>Custom pick up and drop off anywhere in Austin</li>
                <li>6 hours round trip</li>
              </ul>
            </div>
          </div>

          <div class="col-sm-3 col-xs-12">
            <div class="service-box">
              <h3>Everything You Need</h3>
              <ul>
                <li>Professional guide</li>
                <li>Seamless experience</li>
                <li>No hassle</li>
                <li>Tubes</li>
                <li>Ice</li>
                <li>Coolers</li>
                <li>Cooler tubes</li>
                <li>Rope</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <div class="service-box">
              <h3>5 Star Rated Company</h3>
              <ul>
                <li>Tons of happy customers on TripAdvisor and Yelp</li>
                <li>Over 100 five-star reviews</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default panel-pricing panel-one">
              <div class="panel-heading">
                <h2 class="panel-title">Private Tubing Trip</h2>
              </div>
              <div class="panel-body">
                <h3 class="text-centered h2 price-highlight">$1259 <small>up to 13</small></h2>
                <ul>
                  <li>BYOB river tubing</li>

                  <li>6 hours total round trip</li>
                  <li>Recommended for groups who want a custom pick-up time, location, and private vehicle</li>
                  <li><b>Perfect for bachelor/bachelorette parties, corporate groups, and other private groups</b></li>
                  <li>Stop at store on the way to the river to purchase drinks, food, and other items</li>
                  <li>Drop off at the top of the river (no waiting for a shuttle)</li>
                  <li>Lock personal items inside of vehicle for duration of float (keys, wallet, phone) </li>
                  <li>Pick up at the bottom of the river (no waiting for a shuttle)</li>
                  <li><b>Included:</b> Coolers, ice, tubes, cooler tubes, and rope</li>
                  <li><b>Additional Expenses:</b> Food and drinks</li>

                  <li><b>Weather:&nbsp;</b>In the event that prohibitive weather occurs, we will notify you via text and email 24-hours in advance letting you know that the trip will not be running. In the event of prohibitive weather, you will receive a&nbsp;<b><i>100% refund</i></b>&nbsp;</li>
                  <li><b>Things not to bring:&nbsp;</b>No Glass. No Styrofoam. Do not bring your own tubes or coolers&nbsp;</li>
                  <li><b>Restrictions:&nbsp;</b>Ages 18+ only&nbsp;</li>
                </ul>

                <h3>Pricing</h3>
                <ul>
                    <li>$1259 up to 13 participants</li>
                    <li>$1499 up to 18 participants</li>
                    <li>$1749 up to 22 participants</li>
                </ul>

                <h3>Popular addons</h3>
                <ul>
                  <li><b>Stop for Texas BBQ:</b> $275</li>
                </ul>
                <br />
                {% include contact-buttons.html class="text-center" %}
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="text-centered">Which river do you tube?</h2>
            <p>We alternate between rivers based on which has the most optimal conditions for floating. We are unable to accommodate requests for floating specific rivers. Decisions on which river to float are made on a real-time basis. We are unable to notify customers of which river we will be floating in advance of the trip.</p>


            <h2 class="text-centered">Any group, large or small, short and tall.</h2>
            <div class="row">
              <div class="col-xs-6">
                <ul>
                  <li>Bachelor &amp; Bachelorette Parties</li>
                  <li>Client Entertainment</li>
                  <li>Company &amp; Team Outings</li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul>
                  <li>Corporate Events</li>
                  <li>Wedding Groups</li>
                </ul>
              </div>

            </div>

            <!--<h2 class="text-centered">More questions?</h2>
            <p class="text-centered">Visit our <a href="//support.atxcursions.com">FAQ</a> for more information.</a></p>-->
          </div>
        </div>



      </div>
    </div>

    {% include review-section.html %}

    <div class="" style="background: #eee;padding: 50px 0;">
      <div class="container">


          <div class="row">
            {% include contact-buttons.html class="text-center" %}
          </div>
        </div>
      </div>
    </div>




    <div class="container">

      {% picture gallery /tubing/group-1-2-3.jpg                    %}
      {% picture gallery /tubing/group-2-2.jpg                     %}
      {% picture gallery /tubing/bachelorette-party-tubing-1.jpg   %}
      {% picture gallery /tubing/bachelor-party-1.jpg              %}
      {% picture gallery /tubing/bachelorette-party-1.jpg          %}
      {% picture gallery /tubing/bachelorette-party-2.jpg          %}



      {% include contact-buttons.html %}

      {% include private-group-terms-and-conditions.html %}

    </div>

    <!-- Google Code for Private parties, call us Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 970738303;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "1KZECJeU_1UQ_5TxzgM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970738303/?label=1KZECJeU_1UQ_5TxzgM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
