---
layout: default
title: River Tubing in Austin, Texas
description: River float trips Austin, Texas! 5 star rated on Yelp and TripAdvisor. BYOB. Public trips and private trips for bachelor, bachelorette, and birthday parties.
---
    <a name="tubing"></a>
    <div class="jumbotron invert" style="background: url('/images/river-float-smallest.jpg');background-size: cover;background-position: center;min-height: 200px;border-top: 1px solid #555">
      <div class="container">
        <div class="jumbotron-caption">
          <h2>River Tubing</h2>
          <p>Float down the river. BYOB! May - September.<!--Every Monday, Wednesday, and Friday.--></p>

          <p><a class="btn btn-lg btn-primary" href="https://atxcursions.rezdy.com/28617/river-tubing" role="button">Book now &raquo;</a> <a class="btn btn-lg btn-primary" href="#private-tours" role="button">Private group? &raquo;</a></p>
        </div>
      </div>
    </div>


    <a name="private-tours"></a>
    <div class="" style="background: #eee;box-shadow: inset 0 8px 9px -6px black;padding: 50px 0;">
      <div class="container">
        <a name="private-tours"></a>
        <h1 class="text-center">River Tubing for Private Events</h1>
        <h2 class="text-center h4">Bachelor parties, bachelorette parties, birthday parties, business events, and other private events</h2>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <ul>
              <li><b>BYOB and we pack</b> alcohol/snacks/water in ice-filled coolers that we provide for you.</li>
              <li><b>The most convenient way to float the river.</b></li>
              <li><b>Tube rental included</b> - All of our prices include tube rentals for you and your guests as well as the cost of cooler tube rentals. Coolers float with you on their own tubes =)</li>
              <li><b>3-5 hour float</b> - a perfect amount of time to have fun on the river.</li>
              <li><b>Relax while we drive</b> - We're your designated driver! We pick you up from your hotel/airbnb/house/etc, drive you to the river, pick you up at the end, and bring you back. Serving <b>Austin</b> and surrounding areas.</li>
              <li><b>5 star rated </b> on Yelp and TripAdvisor.</li>
              <li>Questions? Check out <a href="https://support.atxcursions.com/hc/en-us">our FAQ</a>.</li>
            </ul>

            {% include contact-buttons.html class="text-center" %}


            <!--<div class="alert alert-info" role="alert"><b>Heads up!</b> Tubing season starts in May 2015.  We cannot accept reservations for dates before May. We are more than happy to take group reservations for May 2015 and beyond.</div>-->
          </div>
        </div>
      </div>
    </div>

    <div  class="container">


      {% picture gallery tubing/group-1-2-3.jpg                    %}
      {% picture gallery /tubing/group-2-2.jpg                     %}
      {% picture gallery /tubing/bachelorette-party-tubing-1.jpg   %}
      {% picture gallery /tubing/bachelor-party-1.jpg              %}
      {% picture gallery /tubing/bachelorette-party-1.jpg          %}
      {% picture gallery /tubing/bachelorette-party-2.jpg          %}

      {% include contact-buttons.html %}

    </div>

    <!-- Google Code for Private parties, call us Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 970738303;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "1KZECJeU_1UQ_5TxzgM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js" async>
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970738303/?label=1KZECJeU_1UQ_5TxzgM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
