<div class="row">
  <div class="col-sm-6 {{ include.offset }}">
    <div class="panel panel-default panel-pricing panel-one">
      <div class="panel-heading">
        <h2 class="panel-title">Two-stop Brewery Tour</h2>
      </div>
      <div class="panel-body">
        <h3 class="text-centered h2 price-highlight">$1499 <small>up to 13</small></h3>
        <ul>
          <li><b>2 Breweries</b></li>
          <li><b>3-4 hour duration</b></li>
          <li><b>Recommended for corporate groups and private groups over 20</b></li>
          <li>Custom pick up and drop off location</li>
          <li>Beer samples at each stop</li>
          <li>Private vehicle for your group</li>
          <li><b>Included:</b> Beer samples at every brewery</li>
          <li><b>Additional expenses:</b> Food</li>
          <li><b>Restrictions:</b> Ages 21+ only</li>
        </ul>

        <h3>Pricing</h3>
        <ul>
            <li>$1499 up to 13 participants</li>
            <li>$1959 up to 18 participants</li>
            <li>$2449 up to 24 participants</li>
            <li>$4899 up to 55 participants</li>
        </ul>

        <h3>Popular addons</h3>
        <ul>
          <li><b>Souvenir Glasses:</b> $15/person</li>
          <li><b>Catering:</b> $30/person</li>
        </ul>
        <br />
        {% include contact-buttons.html class="text-center" %}
      </div>
    </div>
  </div>
</div>
