<div class="row">
  <div class="col-sm-6 {{ include.offset }}">
    <div class="panel panel-default panel-pricing panel-one">
      <div class="panel-heading">
        <h2 class="panel-title">Corporate Tubing Trip</h2>
      </div>
      <div class="panel-body">
        <h3 class="text-centered h2 price-highlight">$1499 <small>up to 13</small></h3>
        <ul>
          <li>BYOB river tubing</li>
          <li>6 hours total round trip</li>
          <li>Recommended for groups who want a custom pick-up time, location, and private vehicle</li>
          <li><b>Perfect for bachelor/bachelorette parties, corporate groups, and other private groups</b></li>
          <li>Stop at store on the way to the river to purchase drinks, food, and other items</li>
          <li>Drop off at the top of the river (no waiting for a shuttle)</li>
          <li>Lock personal items inside of vehicle for duration of float (keys, wallet, phone) </li>
          <li>Pick up at the bottom of the river (no waiting for a shuttle)</li>
          <li><b>Included:</b> Coolers, ice, tubes, cooler tubes, and rope</li>
          <li><b>Additional Expenses:</b> Food and drinks</li>

          <li><b>Weather:&nbsp;</b>In the event that prohibitive weather occurs, we will notify you via text and email 24-hours in advance letting you know that the trip will not be running. In the event of prohibitive weather, you will receive a&nbsp;<b><i>100% refund</i></b>&nbsp;</li>
          <li><b>Things not to bring:&nbsp;</b>No Glass. No Styrofoam. Do not bring your own tubes or coolers&nbsp;</li>
          <li><b>Restrictions:&nbsp;</b>Ages 18+ only&nbsp;</li>
        </ul>

        <h3>Pricing</h3>
        <ul>
            <li>$1259 up to 13 participants</li>
            <li>$1499 up to 18 participants</li>
            <li>$1749 up to 22 participants</li>
        </ul>

        <h3>Popular addons</h3>
        <ul>
          <li><b>Stop for Texas BBQ:</b> $275</li>
        </ul>
        <br />
        {% include contact-buttons.html class="text-center" %}
      </div>
    </div>
  </div>
</div>
