
  <div class="row">
    <h2 class="text-centered">We make planning your trip easy</h2>
    <div class="col-xs-6 col-xs-offset-3 text-centered"><p>Visit 2-3 breweries and sample local beers. Access special releases and other beers not available elsewhere and learn about the Austin brewing scene.</p></div>
  </div>
  <div class="row">

    <div class="col-sm-4 col-xs-12">
      <div class="service-box">
        <h3>Transportation Provided</h3>
        <ul>
          <li>Private vehicle</li>
          <li>Custom pick up and drop off anywhere within Austin</li>
          <li>3-5 hour duration</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-4 col-xs-12">
      <div class="service-box">
        <h3>Professional Guide</h3>
        <ul>
          <li>Seamless experience</li>
          <li>No hassle</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="service-box">
        <h3>5 Star Rated Company</h3>
        <ul>
          <li>Tons of happy customers on TripAdvisor and Yelp</li>
          <li>Over 100 five-star reviews</li>
        </ul>
      </div>
    </div>
  </div>



  {% include private-brewery-tour-pricing.html offset="col-sm-offset-3" %}


  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h2 class="text-centered">Which breweries do you visit?</h2>
      <p>We visit many breweries throughout the Austin, TX area including: Jester King, Twisted X, Hops &amp; Grain, Zilker, Independence,  Adelbert's,  Austin Beerworks, and Last Stand. Breweries that we are able to visit for your trip are subject to availability. Please contact us for more information.</p>


      <h2 class="text-centered">More affordable options</h2>
      <p>For smaller groups, we recommend booking a <a href="https://atxcursions.rezdy.com/42832/austin-brewery-tour">public brewery tour</a>. They're more affordable and are very similar to our private trips, but do not have a custom pick up and drop off location.</p>

      <h2 class="text-centered">Any group, large or small, short and tall.</h2>
      <div class="row">
        <div class="col-xs-6">
          <ul>
            <li>Bachelor &amp; Bachelorette Parties</li>
            <li>Client Entertainment</li>
            <li>Company &amp; Team Outings</li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul>
            <li>Corporate Events</li>
            <li>Wedding Groups</li>
          </ul>
        </div>

      </div>

      <!--<h2 class="text-centered">More questions?</h2>
      <p class="text-centered">Visit our <a href="//support.atxcursions.com">FAQ</a> for more information.</a></p>-->
    </div>
  </div>
