<section class="terms">

  <h3>ATXcursions Terms and Conditions</h3>

  <h4>Payment Policy</h4>
  <p>50% non-refundable deposit is due at the time of booking. Reservations are not guaranteed until the deposit is made. The remaining 50% balance is due 7-days prior to the date of the scheduled trip, and will be automatically charged to the card on file unless otherwise specified.</p>

  <h4>Cancellation Policy</h4>
  <p>We do not issue refunds for cancellations once a reservation is made. We do not issue refunds for no-shows.  If you do not show up for your trip, no refund will be issued. No exceptions.</p>

  <h4>Refund Policy</h4>
  <p>We do not issue refunds.</p>

</section>
