
  <div class="row">
    <h2 class="text-centered">No-hassle Tubing</h2>
    <div class="col-xs-6 col-xs-offset-3 text-centered"><p>All necessary equipment provided. Just gather your friends, we'll take care of the rest!</p></div>
  </div>
  <div class="row">

    <div class="col-sm-3 col-xs-12 col-sm-offset-2">
      <div class="service-box">
        <h3>Transportation Provided</h3>
        <ul>
          <li>Private vehicle</li>
          <li>Custom pick up and drop off anywhere in Austin</li>
          <li>6 hours round trip</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3 col-xs-12">
      <div class="service-box">
        <h3>Everything You Need</h3>
        <ul>
          <li>Professional guide</li>
          <li>Seamless experience</li>
          <li>No hassle</li>
          <li>Tubes</li>
          <li>Ice</li>
          <li>Coolers</li>
          <li>Cooler tubes</li>
          <li>Rope</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="service-box">
        <h3>5 Star Rated Company</h3>
        <ul>
          <li>Tons of happy customers on TripAdvisor and Yelp</li>
          <li>Over 100 five-star reviews</li>
        </ul>
      </div>
    </div>
  </div>


  {% include private-river-tubing-pricing.html offset="col-sm-offset-3" %}


  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h2 class="text-centered">Which river do you tube?</h2>
      <p>We alternate between rivers based on which has the most optimal conditions for floating. We are unable to accommodate requests for floating specific rivers. Decisions on which river to float are made on a real-time basis. We are unable to notify customers of which river we will be floating in advance of the trip.</p>


      <h2 class="text-centered">Any group, large or small, short and tall.</h2>
      <div class="row">
        <div class="col-xs-6">
          <ul>
            <li>Bachelor &amp; Bachelorette Parties</li>
            <li>Client Entertainment</li>
            <li>Company &amp; Team Outings</li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul>
            <li>Corporate Events</li>
            <li>Wedding Groups</li>
          </ul>
        </div>

      </div>

      <!--<h2 class="text-centered">More questions?</h2>
      <p class="text-centered">Visit our <a href="//support.atxcursions.com">FAQ</a> for more information.</a></p>-->
    </div>
  </div>
