<div class="blue-section" style="background: #428bca; color: white; padding: 50px 0">
  <div class="container">
    <div class="col-lg-6 col-md-6 text-center col-md-offset-3" style="min-height: 200px;">
      <h2 class="rotate-dissolve">"The whole day was beyond seamless and the highlight of my weekend trip in Austin." - Juliette L.</a> || "So much fun!!!!!!!!" - Amanda L. || "This was my second time using ATXcursions and will not be my last." - Neil G. || "Can't say enough positive things!" - Ara || "10 stars!" - Dawn H. || "The best way to experience Austin" - Robyn T.</h2>
    </div>
    <div class="col-md-4 text-center col-md-offset-4">

                Check out our reviews! We strive to provide excellent customer service.
                <ul class="icons" style="margin: 0 auto;width:223px;">
                  <li>
                    <a class="si-tripadvisor" title="ATXcursions on TripAdvisor" href="http://www.tripadvisor.com/Attraction_Review-g30196-d6458882-Reviews-ATXcursions-Austin_Texas.html"></a>
                  </li>
                  <li>
                    <a class="si-yelp" title="ATXcursions on Yelp" href="http://www.yelp.com/biz/atxcursions-austin"></a>
                  </li>
                  <li>
                    <a class="si-facebook" title="ATXcursions on Facebook" href="https://www.facebook.com/atxcursions"></a>
                  </li>
                </ul>

    </div>
  </div>
</div>
