<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.description}}">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <meta name="p:domain_verify" content="1c6d812fd7ee4eeaf5c0270ff9921bcc"/>

    <title>{% if page.title %} {{page.title}} - {% endif %} ATXcursions{% unless page.title %} - River Tubing and Brewery Tours in Austin, TX!{% endunless %}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '1544043765864984']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1544043765864984&amp;ev=PixelInitialized" /></noscript>

  </head>
 <body>
   <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=121218300600&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar-wrapper">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">

              <a class="navbar-brand" href="/">{% picture logo-250x212.png class="center-block" alt="ATXcursions" style="width: 200px" %}</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>

                <span>Menu &#x25BC;</span>
              </button>

            </div>
            <div id="navbar" class="navbar collapse navbar-collapse">
              <ul class="nav navbar-nav main-nav">
                <li><a href="/"><span class="top-line">Public</span><br />Tours</a></li>
                <li><a href="/private-party-events.html"><span class="top-line">Private</span><br />Events</a></li>
                <li><a href="/faq.html"><span class="top-line">More</span><br /> Info</a></li>
                <li class="facebook-nav"><div class="fb-like hidden-nav" data-href="https://www.facebook.com/atxcursions" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div><a href="https://www.facebook.com/atxcursions" onclick="trackOutboundLink('https://www.facebook.com/atxcursions'); return false;">Facebook</a></li>
                <!--<li class="hidden-nav facebook-nav"><div class="fb-like" data-href="https://www.facebook.com/atxcursions" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div><a href="https://www.facebook.com/atxcursions" onclick="trackOutboundLink('https://www.facebook.com/atxcursions'); return false;">Facebook</a></li>-->
              </ul>
            </div>
          </div>
          <div class="review-bar">
            <div class="container">
                <ul class="nav navbar-nav">
                  <li>
                    <a href="#" style="text-transform:uppercase;color: gold;margin-top: 2px">5 star rated on:</a> </li>
                  <li><a class="" title="ATXcursions on TripAdvisor" href="http://www.tripadvisor.com/Attraction_Review-g30196-d6458882-Reviews-ATXcursions-Austin_Texas.html"><span class="inline-icon-16 si-tripadvisor-16"></span> TripAdvisor</a></li>
                  <li><a class="" title="ATXcursions on Yelp" href="http://www.yelp.com/biz/atxcursions-austin"><span class="inline-icon-16 si-yelp-16"></span> Yelp</a></li>
                  <!--<li><a class="" title="ATXcursions on Facebook" href="https://www.facebook.com/atxcursions"><span class="inline-icon-16 si-facebook-16"></span> Facebook</a></li>-->
                </ul>
            </div>
          </div>

    </div>
    {{ content }}

      <!-- Site footer -->
      <div class="footer">
        <div class="container">
          <nav class="navbar">
            <div class="row">
                <div class="col-sm-3">
                  <ul class="list-unstyled">
                    <li><a href='&#109;ailto&#58;%6&#57;%6Ef&#111;%4&#48;atx&#37;6&#51;ur%7&#51;i&#111;ns%&#50;E&#99;%&#54;F&#109;' onclick="ga('send', 'event', 'call to action', 'email us', 'footer link');">&#105;nfo&#64;at&#120;&#99;ursions&#46;com</a></li>
                    <li><a href="tel:8667597375" onclick="ga('send', 'event', 'call to action', 'call us', 'footer link');">866-759-7375</a></li>
                    <li><a href="https://www.google.com/maps/place/605+Brazos+St,+Austin,+TX+78701/@30.268174,-97.7410419,15z">605 Brazos St<br />Austin, TX 78701</a></li>
                    <li><a href="https://www.facebook.com/atxcursions">ATXcursions on Facebook</a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="list-unstyled">
                    <li><a href="/">Public Tours</a></li>
                    <li><a href="/private-party-events.html">Private Party Events</a></li>
                    <li><a href="https://atxcursions.rezdy.com/46725/brewery-tour-gift-card">Brewery Tour Gift Cards</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                    <li><a href="/faq.html">More Info</a></li>
                    <li><a href="/attribution.html">Photo Attribution</a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="list-unstyled">
                    <li><a href="/river-float-tubing-austin.html">River Tubing</a></li>
                    <li><a href="/austin-brewery-tours.html">Brewery Tours</a></li>
                    <!--<li><a href="/bachelor-bachelorette-parties-austin.html">Bachelor Parties</a></li>
                    <li><a href="/bachelor-bachelorette-parties-austin.html">Bachelorette Parties</a></li>-->
                    <!--<li><a href="/pub-crawls.html">Pub Crawls</a></li>-->
                    <!--<li><a href="/4-bachelorette-party-ideas-in-austin.html">4 Bachelorette Party Ideas In Austin</a></li>-->
                    <li><a href="/4-bachelor-bachelorette-party-ideas-in-austin.html">4 Bachelor/Bachelorette Party Ideas In Austin</a></li>
                    <li><a href="/locally-austin-gifts.html">21 Locally Austin Gift Ideas</a></li>
                    <li><a href="/texas-river-float-guide.html">Guide To Texas Tubing</a></li>
                    <li><a href="/6-corporate-event-ideas-austin.html">6 Unembarrassing Company Outing Ideas in Austin</a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <div id=""><span  class="rotate">Can't stop won't stop since 2014, Say When., Gluten free since 2014</span></div>
                </div>
              </div>
              </nav>
            </div>
          </div>
        </div>
      </div> <!-- /container -->



    <!-- Custom CSS and Styling
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700|Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href="css/index.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.unveil.min.js"></script>
    <script src="js/jquery.simple-text-rotator.min.js"></script>
    <script>
    $(document).ready(function() {
       $(".rotate").textrotator({
        animation: "flipUp",
        separator: ",",
        speed: 10000
       });

       $("img").unveil(500);
    });
    </script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-373708-14', 'auto', {
        'allowLinker': true
      });
      ga('send', 'pageview');
      ga('linker:autoLink', ['rezdy.com']);

      /**
      * Function that tracks a click on an outbound link in Google Analytics.
      * This function takes a valid URL string as an argument, and uses that URL string
      * as the event label.
      */
      var trackOutboundLink = function(url) {
        ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
          function () {
            document.location = url;
          }
        });
      }

    </script>

    <!-- Google Code for Remarketing Tag -->
    <div style="display:none">
      <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 970738303;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/970738303/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>
    </div>


  </body>
</html>
