---
layout: default
---
<div class="container">
  <h2>{{ page.title }}</h2>
  <p class="meta small">{{ page.date | date_to_string }} - {{page.author}}</p>

  <article class="post">
  {{ content }}
  </article>
<!--   <div class="tags">
  <ul>
    {{ page.inspect }}
    {% for tag in page.tags %}
      <li>
        <a href="{{ tag.url }}">{{ tag[1] }}</a>
      </li>
    {% endfor %}
  </ul>
</div> -->
  <div>
    <i>All blog content is the opinion of our authors and are not shared, supported, or endorsed by ATXcursions.</i>
  </div>
  <br />
</div>
